@import "tailwindcss";

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.forum-font {
  font-family: "Forum", serif;
  /* font-weight: 400; */
  font-style: normal;
}